<!--
  Generated template for the ComprasPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Compras</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-grid>
    <ion-row ion-button (click)="setLimite()">
      <ion-col>
        Limite: R${{limite}}
      </ion-col>
      <ion-col>
        Gasto: R${{gasto}}
      </ion-col>      
      <ion-col>
        Resta: R${{resta}}
      </ion-col>
    </ion-row>
  </ion-grid>

  <h3>Lista de Compras</h3>

  <ion-grid>
      <ion-row ion-button (click)="comprar(item)" *ngFor="let item of lista_fila">
        <ion-col>
          {{item.nome}}          
        </ion-col>
      </ion-row>
  </ion-grid>

  <h3>Itens Comprados</h3>

  <ion-grid>
      <ion-row ion-button (click)="editar(item)" *ngFor="let item of lista_comprado">
        <ion-col>
          {{item.nome}}
        </ion-col>
        <ion-col>
          R${{item.valor}}
        </ion-col>
      </ion-row>
  </ion-grid>

</ion-content>
