page-compras {
    .status{
        background: color($colors, primary);
    }
    .cabecalho{        
        .item{
            background: rgba(255,255,255,0.7)
        }
    }
    .barra-ext{
        width: 96%;
        margin: 5px 2%;
        padding: 2px;
        text-align: center;
        background-color: #f4f4f4;
        border: 1px solid #dcdcdc;
        color: #fff;
        border-radius: 10px;
    }

    .barra-int{
        min-width: 0%;
        white-space: nowrap;
        overflow: hidden;
        padding: 3px;
        border-radius: 10px;
        background-color: map-get($colors, danger);
    }
}
