<!--
  Generated template for the ListaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Lista de Compras</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-buttons end class='add'>
        <button ion-button (click)="modal()">
          TESTE
        </button>
    </ion-buttons>

    <ion-buttons end class='add'>
      <button ion-button icon-only (click)="add()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>

    <ion-grid>
      
      <ion-list reorder="true" (ionItemReorder)="reorder($event)">
          <ion-item *ngFor="let item of arquivo.lista" text-wrap justify-content: center (click)="seleciona(item)" >
            <div *ngIf="item.vezes>1; else unitario">
                <ion-badge slot="start" color="secondary">{{item.vezes}}</ion-badge>
                {{item.nome}}
            </div>
            <ng-template #unitario>
                {{item.nome}}
            </ng-template>
              <ion-row *ngIf="item.select">
                <ion-col ion-button (click)="numero(item, -1)" item-end icon-only color="secondary">
                  <ion-icon name="remove-circle"></ion-icon>
                </ion-col>
                <ion-col ion-button (click)="numero(item, 1)" item-end icon-only  color="secondary">
                  <ion-icon name="add-circle"></ion-icon>
                </ion-col>
                <ion-col ion-button item-end (click)="editar(item)" icon-only color="secondary">
                  <ion-icon name="create"></ion-icon>
                </ion-col>
                <ion-col  ion-button item-end (click)="remove(item)" icon-only color="danger">
                  <ion-icon name="trash"></ion-icon>
                </ion-col>
              </ion-row>
          </ion-item>
      </ion-list>
      
      <button ion-button (click)="limpar()">
        Limpar
      </button>
    </ion-grid>

</ion-content>
